<ion-view view-tite="Meet Me Up" hide-back-button="true" can-swipe-back="false">
<ion-content class="home-page-content">
  <div class="tabs" style="background-color:transparent;border:none;">
    <div class="col-sm-6 center-block">
        <a class="btn btn-primary btn-lg" style="background-color:transparent;border:none;" ui-sref="login"><p class="text-primary"> <strong>Sign In </strong></p> </a>
    </div>
    <div class="col-sm-6 center-block" >
        <a class="btn btn-primary btn-lg" style="background-color:transparent;border:none;" ui-sref="signup"> <p class="text-primary"><strong>Sign Up</strong></p></a>
    </div>
  </div >
  </ion-content>


</ion-view>
