<ion-view view-title="Maps" hide-back-button="false" can-swipe-back="true">

        <!-- <ion-header-bar class="bar-stable">
          <h1 class="title">Maps</h1>
        </ion-header-bar> -->
<ion-pane>
        <ion-content>
          <div class="item item-input">
            <!-- <i class="icon ion-search placeholder-icon"></i> -->
            <input id="pac-input" class="controls" type="search" placeholder="Search Location" data-tap-disabled="true" ng-model="search">
          </div>
          <div id="map"  data-tap-disabled="true"></div>
        </ion-content>
        <ion-footer-bar class="bar bar-stable">
          <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
        </ion-footer-bar>
</ion-pane>

</ion-view>
