/* Empty. Add your own CSS if you like */

.centerDiv{
  display: inline-block; width:100%; margin: 0 auto; padding: 6px; text-align: center;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonFullwidth{
  width: 46% ;
}

.login-page {
    background: none;
    background-size: cover;
}
.home-page-content {
  background: url(../img/pure_skyblue.png);
  background-size: cover;
}

.login-div {
  opacity: 0.93 ;
  padding: 20px;
  color: dark;
  border:none;
}


.scroll {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
#pac-input:focus {
border-color: #4d90fe;
}
/*background video */
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/video_background.png) no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade { opacity: .5; }
@media screen and (max-device-width: 800px) {
    html {
         background: url(../img/video_background.png) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}
